.heading {
    width: 100%;
    text-align: left;
}

.heading button {
    float: right;
}

.heading h3 {
    display: inline;
}

.mario {
    width: 100%;
}

.modal-dialog {
    width: 90%;
}

.instructionImage {
    width: 45%;
    display: inline;
}

video {
    background-image: url("game_console.png");
    background-position: center;
    padding: 25px;
    background-size: cover;
}

.footer {
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
    bottom:0;
}